
# Neovim ignore files
.netrwhist
nvim/.config/nvim/autoload

# ZSH ignore
zsh/.zsh/fzf-tab
zsh/.zsh/zsh-git-prompt
zsh/.zsh/zsh-autosuggestions
zsh/.zsh/zsh-syntax-highlighting
zsh/.zsh/.zcompdump
zsh/.zsh/.zsh_history

